matplotlib
pillow
sympy
scipy
torch
torchvision
numpy
packaging
python-dateutil
pytz
tensorboardX
tifffile
typing_extensions
tzdata
scikit-learn
scipy
umap-learn
lovely_tensors
tqdm
apex
joblib
triton